// Variables colores
$rosaOscuro: #A3439E;
$rosaClaro: #F0B7ED;
$verdeClaro: #B0F092;

// Variables colores dark-theme
$rosaOscuro--dark: #4e214c;
$rosaClaro--dark: #896787;
$verdeClaro--dark: #90c677;
