

.main-404 {
    height: 500px;

    .main-404__titulos {
        font-family: $fuenteTitulos;
        margin-left: 25%;

        .titulos__h1 {
            font-size: 60px;
            margin-bottom: 0;
            color: black;
        }
        .titulos__h2 {
            font-size: 35px;
            margin-top: 0;
            color: black;
        }
    }

    .main-404__parrafo {
        font-family: $fuenteTexto;
        margin-left: 25%;
        font-size: 25px;

        .parrafo__texto {
            color: black;
        }
    }
}



@media screen and (max-width: 1025px) {
    .main-404 .main-404__titulos {
        margin-left: 15%;
    }
    .main-404 .main-404__parrafo {
        margin-left: 15%;
    }
}

@media screen and (max-width: 520px) {
    .main-404 .main-404__titulos {
        margin-left: 15%;
    }
    .main-404 .main-404__parrafo {
        margin-left: 15%;
    }
    .main-404 .main-404__titulos__h1 {
        font-size: 40px;
    }
    .main-404 .main-404__titulos__h2 {
        font-size: 22px;
    }
    .main-404 .main-404__parrafo__texto {
        font-size: 20px;
    }
}