// Dark mode
.footer-dark-mode {
    background-color: $rosaOscuro--dark;
}

.footer-pag404 .footer-pag404__pie-pagina-pag404 .boton-dark-dark,  {
    background-color: $verdeClaro--dark;
}

// Estilos normales
footer {
    background-color: $rosaOscuro;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .pie-pagina, .footer-pag404__pie-pagina-pag404 {
        height: 100px;
        display: flex;
        gap: 20px;
        margin-left: 18px;
        align-items: center;

        &__insta-footer {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: $fuenteTexto;
            img {
                width: 30px;
                height: 30px;
            }
        }
        &__gmail-footer {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: $fuenteTexto;
            img {
                width: 40px;
                height: 30px;
            }
        }
        &__section-boton-dark-mode {
            margin-left: auto;

            button {
                margin-right: 50px;
                background-color: $verdeClaro;
                color: black;
                font-family: $fuenteTitulos;
                padding: 10px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
}
