* {
    box-sizing: border-box;
    color: white;
    
    #enlaceInicio, #enlaceCrear {
        color: $rosaOscuro;
        background-color: $verdeClaro;
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;
    }
}

body {
    margin: 0px;
    width: 100%;
    background-color: $rosaClaro;
}