// Dark mode
.header-dark-mode {
    background-color: $rosaOscuro--dark;
}
header .navegador__enlaces-cabecera .boton-header-dark-mode {
    background-color: $verdeClaro--dark;
}

// Estilos normales
header {
    background-color: $rosaOscuro;
    height: 105px;
    width: 100%;
    font-family: $fuenteTitulos;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
        
    .navegador {
        display: flex;
        color: $verdeClaro;

        a {
            text-decoration: none;
        }
        &__enlaces-cabecera {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 15px;
            width: 100%;
            margin-right: 15px;
            text-decoration: none;
        }
        &__section-logo {}
    }

    .section-logo {
        &__logo {
            width: 65px;
            margin: 18px;
        }
    }

    .input-hamburguesa {
        display: none;
    }
    .input-hamburguesa:checked + .navegador__enlaces-cabecera {
        display: flex;
    }
    .label-hamburguesa {
        display: none;
        position: absolute;
    }
    
    @media screen and (max-width: 800px) {
        .label-hamburguesa {
            display: block;
            cursor: pointer;
            margin-top: 22px;
            right: 40px;
            font-size: 40px;
        }
        .navegador__enlaces-cabecera {
            display: none;

            flex-direction: column;
            width: 300px;
            margin-right: 0px;
            position: absolute;
            top: 70px;
            right: 30px;
            background-color: $rosaOscuro;
            z-index: 1;
            padding: 15px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 20px;
            border: 1px solid $rosaClaro;
            
        }
    }

    @media screen and (max-width: 400px) {
        .navegador__enlaces-cabecera {
            display: none;
            width: 200px;
            //border: 1px solid black;
        }
    }

    .enlaces-cabecera {
        &__enlace-index {
            //text-decoration: none;
        }
        &__enlace-wiki {
            //text-decoration: none;
        }
        &__enlace-contacto {
            //text-decoration: none;
        }
        &__enlace-inicio {
            color: $rosaOscuro;
            background-color: $verdeClaro;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
        }
        &__enlace-crear {
            color: $rosaOscuro;
            background-color: $verdeClaro;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
        }
    }
}
