
header {
    background-color: $rosaOscuro;
    height: 105px;
    width: 100%;
    font-family: $fuenteTitulos;
    font-size: 18px;
        
    .navegador {
        display: flex;
        color: $verdeClaro;

        a {
            text-decoration: none;
        }
        &__enlaces-cabecera {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 15px;
            width: 100%;
            margin-right: 15px;
            text-decoration: none;
        }
        &__section-logo {}
    }

    .section-logo {
        &__logo {
            width: 65px;
            margin: 18px;
        }
    }

    .input-hamburguesa {
        display: none;
    }
    .input-hamburguesa:checked + .navegador__enlaces-cabecera {
        display: flex;
    }
    .label-hamburguesa {
        display: none;
        position: absolute;
        top: 30px;
        right: 40px;
        font-size: 40px;
    }
    
    @media screen and (max-width: 820px) {
        .label-hamburguesa {
            display: block;
            cursor: pointer;
        }
        .navegador__enlaces-cabecera {
            display: none;

            flex-direction: column;
            width: 40%;
            margin-right: 0px;
            position: absolute;
            top: 70px;
            right: 30px;
            background-color: $rosaOscuro;
            z-index: 1;
            padding: 10px;
            border-radius: 20px;
        }
    }

    .enlaces-cabecera {
        &__enlace-index {
            //text-decoration: none;
        }
        &__enlace-wiki {
            //text-decoration: none;
        }
        &__enlace-contacto {
            //text-decoration: none;
        }
        &__enlace-inicio {
            //text-decoration: none;
            color: $rosaOscuro;
            background-color: $verdeClaro;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
        }
        &__enlace-crear {
            //text-decoration: none;
            color: $rosaOscuro;
            background-color: $verdeClaro;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
        }
    }
}
