header {
    background-color: $rosaOscuro;
    height: 105px;
    width: 100%;
    font-family: $fuenteTitulos;

    nav {
        display: flex;
        color: $verdeClaro;
        
        #logo {
            width: 65px;
            margin: 18px;
        }
        #enlacesCabecera {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 15px;
            width: 100%;
            margin-right: 15px;
            text-decoration: none;

            a {
                text-decoration: none;
            }
        }
    }
}