* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0px;
    width: 100%;
    background-color: $rosaClaro;
}

// Dark mode
.body-dark-mode {
    background-color: $rosaClaro--dark;
}