
.main-usuario {
    display: flex;
    justify-content: center;

    &__cuadro-informacion {
        background-color: $rosaOscuro;
        height: 450px;
        width: 35%;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 20px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        
        &__imagen-usuario {
            width: 180px;
            margin-top: 20px;
        }

        &__usuario-y-gmail {
            width: 400px;
        }

        .usuario-y-gmail__usuario {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        .usuario-y-gmail__gmail {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-size: 20px;
            font-family: $fuenteTexto;
        }

        .parrafo-raro {
            font-family: $fuenteTitulos;
        }
    }
}

@media screen and (max-width: 1300px) {
    .main-usuario__cuadro-informacion__usuario-y-gmail {
        width: 300px;
    }
}


@media screen and (max-width: 980px) {
    .main-usuario__cuadro-informacion__usuario-y-gmail {
        width: 300px;
    }
    .main-usuario__cuadro-informacion {
        width: 70%;
    }
}

@media screen and (max-width: 460px) {
    .main-usuario__cuadro-informacion {
        width: 90%;
    }

    .main-usuario__cuadro-informacion__usuario-y-gmail {
        width: 240px;
    }
}

