.navegador {
    background-color: blue;
    &__enlaces-cabecera {
        background-color: red;
        &__enlace-contacto {
            color: black;
        }

        &__enlace-crear {}

        &__enlace-index {}

        &__enlace-inicio {}

        &__enlace-wiki {}
    }

    &__section-logo {
        margin-left: 40px;
        &__logo {
            margin-left: 40px;
        }
    }
}

