//Variables
$rosaOscuro: #A3439E;
$rosaClaro: #F0B7ED;
$verdeClaro: #B0F092;


* {
    box-sizing: border-box;
    color: white;
    
    button {
        color: $rosaOscuro;
        background-color: #B0F092;
        border-radius: 8px;
    }
}

body {
    margin: 0px;
    width: 100%;
    background-color: $rosaClaro;
}

header {
    background-color: $rosaOscuro;
    height: 105px;
    width: 100%;

    nav {
        display: flex;
        color: $verdeClaro;
        
        #logo {
            width: 65px;
            margin: 18px;
        }
        #enlacesCabecera {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 15px;
            width: 100%;
            margin-right: 15px;
            text-decoration: none;
        }
    }
}

main {
    #imagenPrincipal {
        position: relative;
        height: 500px;
        width: 100%;
        justify-content: center;
        
        #botImgP {
            position: absolute;
            top: 44%;
            left: 44%;
            background-color: #A3439E;
            padding: 30px;
            border-radius: 10px;
            text-decoration: none;
        }
        #imagenP {
            width: 98%;
            height: 94%;
            left: 1%;
            position: absolute;
            top: 3%;
        }
    }
    #flujoUsuario {
        display: flex;
        justify-content: center;
        gap: 20px;

        #inicioSesion, #crearCuenta {
            background-color: #A3439E;
        }
    }
}

footer {
    background-color: $rosaOscuro;
    height: 100px;

    #piePagina {
        height: 100px;
        display: flex;
        gap: 20px;
        padding-left: 10px;
        align-items: center;
    }
}